@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500;600;700&family=Josefin+Sans:ital,wght@0,300;0,400;0,500;1,700&family=Raleway:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    width: 100%;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0px !important;
  padding: 0;
  font-family: 'Raleway', sans-serif;
 
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 80px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#352222;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #665757;
    border-radius: 6px;


  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #706262;
   
  }